{% extends "base.html" %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bg-white p-4 rounded shadow-sm">
                <h1 class="mb-4">Create Product</h1>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark">Save product</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}