<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini Digital Marketplace{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
    <a href="{% url 'products:home' %}">Marketplace</a>
    <a href="/admin/">Admin</a>

    {% if user.is_authenticated %}
        <a href="{% url 'products:product_create' %}">Create product</a>
        <a href="{% url 'products:my_products' %}">My products</a>
        <a href="{% url 'orders:my_orders' %}">My orders</a>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
</nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>