 {% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Mini Digital Marketplace</h1>
    <p>Browse digital products by category.</p>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <h2>
                        <a href="{% url 'products:category_products' category.slug %}">
                            {{ category.name }}
                        </a>
                    </h2>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories found.</p>
    {% endif %}
{% endblock %}